.containerMobileMenu {
  display: grid;
  grid-template-rows: 100px repeat(6, 50px);
  background-color: black;
  grid-gap: 10px;
  color: white;
  height: 100vh;
}

.cross {
  background-image: url(../../assets/cross.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  margin: 20px 0 0 0;
  justify-self: end;
}

.menuItem {
  margin: 10px 20px;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  grid-column-gap: 20px;
  margin: 0 20px;
}

.crossContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}