@import "../../styles/colors";

.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  padding: 2rem;
  text-align: center;

  &_text {
    color: white;
  }
}

.logo {
  background-image: url(../../assets/logo.png);
  background-size: contain;
  height: 50px;
  width: 100px;
}